<link href="{{ baseUrl }}web/static/app.css" rel="stylesheet" type="text/css">
<script src="{{ baseUrl }}web/static/app.bundle.min.js" type="text/javascript"></script>

<div class="content-inner global-container" id="react-root">
    Loading...
</div>
